.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #ccc;
    width: 1000px;
    text-align: center;
    color: black;
    margin-top: 0;
    font-size: 20px;
    padding: 190px;
  }


  .container input{
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-radius: 4px; 
  }
  
 button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

button:hover {
    border-color: #fff; 
}